<!DOCTYPE html>
<html ldir="ltr" lang="en-US" class="no-js">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,initial-scale=1.0" />

	<title>Weee.ee</title>

</head>
<body>
	<h1>Weee.ee Images</h1>
	
	<p>What's that you want a <s>tiny</s> wee thumbnail of a website?</p>
	<p>&darr;</p>

	<code>&lt;img src="http://weee.ee/http://thisis.la"/></code>

	<h2>FAQs</h2>

	<dl>
		<dt>What's with the weee.ee?</dt>
		<dd>Pretty much all the tiny variations were swallowed in the great URL shortener landgrab of yester year.</dd>
	</dl>

	<footer>
		<a href="/">View Source</a>
		Hosted on the great <a href="http://openshift.com">Openshift</a>
	</footer>

</body>
</html>